.flowchart-wrapper{
	text-align:center;
	background-color:#fed049;
	.flowchart-content{
		min-height:100vh;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		font-size:calc(10px + 2vmin);

		.flowchart-img{
			height:40vmin;
			pointer-events:none;
		}
		a{
			color:#007580
		}
	}
}